
.homepage {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF9933), color-stop(1, #FF9933) );
	background:-moz-linear-gradient( center top, #FF9933 5%, #FF9933 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9933', endColorstr='#FF9933');
	background-color:#FF9933;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
}.homepage:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00CCFF), color-stop(1, #00CCFF) );
	background:-moz-linear-gradient( center top, #00CCFF 5%, #00CCFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CCFF', endColorstr='#00CCFF');
	background-color:#00CCFF;
	color:#FFFFFF;
}.homepage:active {
	position:relative;
	top:1px;
}

